{{#partial "content"}}



    {{#if editHero}}
        <div class="container">
            <h5>Edit Hero</h5>
            <hr>
            <form method="Post" action="/edithero/{{hero.id}}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Hero Name" value="{{hero.heroName}}">
                </div>
                <div class="form-group">
                    <label for="power">Power</label>
                    <input type="text" class="form-control" id="power" name="power" placeholder="Hero Power" value="{{hero.heroPower}}">
                </div>
                <div class="form-group">
                    <label for="weakness">Weakness</label>
                    <input type="text" class="form-control" id="weakness" name="weakness" placeholder="Hero Weakness" value="{{hero.heroWeakness}}">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Hero Age" value="{{hero.age}}">
                </div>
                <div class="form-group">
                    <label for="squad">Squad</label>
                    <select class="form-control" id="squad" name="squad" required>

                        {{#if squads}}
                            {{#each squads}}
                                <option value="{{id}}">{{squadName}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    {{else}}
        <div class="container">
            <h5>Add Hero</h5>
            <hr>
            <form method="Post" action="/addhero">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Hero Name">
                </div>
                <div class="form-group">
                    <label for="power">Power</label>
                    <input type="text" class="form-control" id="power" name="power" placeholder="Hero Power">
                </div>
                <div class="form-group">
                    <label for="weakness">Weakness</label>
                    <input type="text" class="form-control" id="weakness" name="weakness" placeholder="Hero Weakness">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Hero Age">
                </div>
                <div class="form-group">
                    <label for="squad">Squad</label>
                    <select class="form-control" id="squad" name="squad">
                        {{#if squads}}
                            {{#each squads}}
                                <option value="{{id}}">{{squadName}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {{/if}}



{{/partial}}

{{> layout.hbs}}