{{#partial "content"}}

    <div class="container row">
        <div class="col-md-4">
            {{#if squad}}
                <p>{{squad.squadName}}</p>
                <p>{{squad.squadCause}}</p>
                <p>{{squad.squadSize}}</p>
                <a href="/deletesquad/{{squad.id}}" class="btn btn-danger">Delete</a>
            {{/if}}
        </div>
        <div class="col-md-8">
            {{#if heroes}}
                {{#each heroes}}
                    <p>{{heroName}}</p>
                    <a href="/heroes/{{id}}" class="btn btn-info">Details</a>
                {{/each}}
            {{/if}}
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}